.RCA-calendar-container{
  flex-grow: 1;
  //background-color: rgb(127, 184, 127);
}
/* calendar-header */
.RCA-calendar-date-header{
  display: flex;
  height: 20px;
  //background-color: green;
}

.RCA-calendar-date-component{
  width: 30px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(107, 107, 108);
  border: 0.1px solid white;
  font-size : 10px;
}

.RCA-calendar-date-component:nth-child(odd){
  border-left : none;
  border-right: none;
}

.date-weekday{
  color : rgba(255, 255, 255, 0.603)
}

.date-sun{
  color: tomato;
}

.date-sat{
  color: skyblue;
}

.RCA-calendar-day-container{
  flex-grow: 1;
  //display : flex;
  //flex-wrap: wrap;
}

.RCA-calendar-day{
  box-sizing: border-box;
  position: relative;
  //flex-basis: 14.2857143%;
  border: 0.1px solid white;
  border-top: none;
  background-color: rgb(225,224,224);
}

.RCA-calendar-week{
  display: flex;
  flex-grow: 1;
}

.RCA-calendar-day:nth-child(odd){
  float: left;
  border-left : none;
  border-right: none;
}

.RCA-calendar-day-label{
  display: inline-block;
  font-size: 1.2rem;
  float: left;
  text-align: center;
  line-height: 25px;
}

.date-weekday-label{
  color : rgb(71, 71, 71)
}
